
          <div id="heading"><p><%=post.user.name%><%if(locals.user && locals.user.id==post.user.id) {%>
            <a href="/posts/delete/<%=post._id%>">x</a>
                 <%}%></p></div>
          <div id="post"><p><%=post.content%></p></div>
          <div id="comments"> <%-include('_comment')-%></div>

      
   