<link rel="stylesheet" href="/css/home.css">

<h1>Home</h1>
<% if(locals.user) {%>
    <section id="post">
        <form action="/posts/create-post" id="post-form" method="POST">
    <textarea name="content" id="new-post" cols="30" rows="3"></textarea>
    <input type="submit">
    
        </form>
    </section>
    <%}%>



<section id="display-post">
    <%for(post of posts){%>
        <%-include('_post')-%>
    
        <%}%>
</section> 


    